.heroe {
  text-align: center;
  min-height: 750px;
  background: blue;
  color: white;
  box-sizing: border-box;
  padding: 40px;
  padding-top: 80px;
  background-position: center !important;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.heroe h3,
.heroe h4 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: normal;
}
.heroe h3 {
  font-size: 3em;
  font-weight: bold;
}
.heroe h4 {
  font-size: 1.5em;
  font-weight: normal;
}
.heroe button {
  padding: 20px;
  border: 2px solid white;
  border-radius: 40px;
  width: 200px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  margin: 10px;
}
.heroe button:first-child {
  background: white;
  color: black;
}
.heroe button:last-child {
  background: none;
  color: white;
}

.heroe h3,
.heroe h4 {
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}
.heroe .texto {
  width: 800px;
  margin: auto;
}
