#contienearticulos {
  margin: auto;
  width: 1024px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

#contienearticulos > article:first-child {
  grid-column: 1 / 7;
  display: flex;
  height: 300px;
  width: 100%;
}

#contienearticulos > article:first-child img {
  width: 60%;
  height: auto;
}

#contienearticulos > article:nth-child(2),
#contienearticulos > article:nth-child(3),
#contienearticulos > article:nth-child(4),
#contienearticulos > article:nth-child(5) {
  grid-column: span 3;
}

#contienearticulos > article:nth-child(n + 6) {
  grid-column: span 2;
}

#contienearticulos article {
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

#contienearticulos article img {
  width: 100%;
}

#contienearticulos article .texto {
  box-sizing: border-box;
  padding: 20px;
}
